###> editor ###
.idea
.git
###< editor  ###

###> symfony-framework ###
.env
.env.test
.env.local
.env.local.php
.env.*.local
symfony.lock
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/
###< symfony-framework ###

###> docker ###
!docker/local/api/env/.env
!docker/local/api/env/.env.test
###< docker ###